.vscode
**/.csv
.apci.ko.cmd
.apci.mod.cmd
.apci.mod.o.cmd
.apci.o.cmd
.apci_dev.o.cmd
.apci_fops.o.cmd
Module.symvers
apci.ko
apci.mod
apci.mod.c
apci.mod.o
apci.o
apci_dev.o
apci_fops.o
modules.order
.Module.symvers.cmd
.modules.order.cmd
apcilib/axiodac
apcilib/axiodac_irq
apcilib/mpcie-dio-24s-irq
apcilib/mpcie-ii-16-irq
apcilib/mpcie_quad_8
apcilib/pcie-dio-48s-irq
apcilib/pcie-idio-24-irq
